header {
	padding: 20px 30px 30px;
}

p {
	color:#CC66FF;
	text-align: center;
}

aside section {
	background-color: #00CC99;
}

header h1 {
	font-size: 5em
}

article p {
	columns: auto 12em
}

.odd_paragraphs {
	background-color: #00CC99;
}

body {
	background: -moz-linear-gradient(blue, green);
	background: -webkit-linear-gradient(blue, green);
	background: -ms-linear-gradient(blue, green);
	background: -o-linear-gradient(blue, green);
	background: linear-gradient(to blue, green);
}

aside section p {
	font-family: courier;
	text-decoration: underline;
	line-height: 1em;
}

.yellow{
	color: yellow;
}

ul {
	list-style-type: square
}
section img{
	display: block;
	margin: 0 auto;
	padding: 20px;
	border-width: 2px;
	border-color: black;
}